{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier", "no-only-tests"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", "always-multiline"],
    "function-paren-newline": ["error", "consistent"],
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "import/prefer-default-export": ["off"],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "max-len": [
      "error",
      {
        "code": 120,
        "tabWidth": 2
      }
    ],
    "no-console": ["error"],
    "no-only-tests/no-only-tests": ["error"],
    "no-plusplus": ["off"],
    "no-underscore-dangle": 0,
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true
      }
    ],
    "object-curly-newline": [
      "error"
    ],
    "react/jsx-closing-bracket-location": ["error", "after-props"],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js"]
      }
    ],
    "react/no-unescaped-entities": [
      "error",
      {
        "forbid": [">", "}"]
      }
    ],
    "react/prop-types": 0,
    "react/state-in-constructor": ["error", "never"]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "navigator": true
  },
  "parser": "babel-eslint"
}